{
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2,
    "func-names": 0,
    "no-restricted-properties": 0
  },
  "plugins": ["chai-friendly"]
}
